@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#2c2c54;
  --orange:#ff9f1a;
}

*{   
    font-family: 'Nunito', sans-serif;
    /* 🦄 tip: 묶어서 정리 */
    margin: 0; padding: 0;

    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none; 

    /* 🦄 capitalize : 첫 글자만 대문자*/
    text-transform: capitalize; 

     /* 🦄  모든 transition에 공통으로 넣음. 일일히 각 element마다 transition넣을 필요없음*/
    transition: all 0.2s linear; 
}

html{
    font-size: 62.5%;

     /* 🦄 tip: 코딩편함  */
    overflow-x: hidden;

     /* 🦄 ???   */
    scroll-padding-top:  6rem; 

     /* 🦄 scroll smooth  */
    scroll-behavior: smooth; 
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--black);
    padding: 1rem;
}

.heading span{
    text-transform: uppercase;
    color: var(--orange);
}

/* ~~~~ */

header{
    position: fixed;

    /* 🦄 tip: 묶어서 정리 */
    top: 0; left: 0; right: 0;

    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);

}

header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons a{
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
}
header .icons a:hover{
    color: var(--orange);
}

#menu-bar{
    background-color: yellow;

    font-size: 2.5rem;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid var(--black);
    color: var(--black);
    border-radius: 0.3rem;
    cursor: pointer;
    display: none;  /* JS */
}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    
    header{
        padding: 2rem;
    }
}