/*  */
:root {
    --bg-color: #fff;
    --link-color: #000;
    --link-size: 1.1rem;
    --right-side-bg-color: #adb5bd;


    --color-10: #003049;
    --color-10-dark: #01111a;
  
    --color-20: #98C8D7;

    --color-30: #446df6;
  
    --color-40: #33ca7f;
  
    --color-50: #fee101;
  
    --color-70: #f77f00;
    --color-70-dark: #5e3101;
  
    --color-80: #fcbf49;
    --color-80-dark: #a8740c;
  
    --color-90: #eae2b7;
}


/*  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 16px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--link-color);
}

/*  */
.app-container{
    width: 100vw;
    height: 100vh;
}

.world{
    width: 100vw;
    height: 100vh;
}

.app-bg{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
}

.app-bg .left-side{
    background-color: var(--bg-color);
    width: 75%;
    height: 100%;
}
.app-bg .right-side{
    background-color: var(--right-side-bg-color);
    width: 25%;
    height: 100%;
}

.myBtn{
    width: 100%;
    background-color: green;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.3rem;
    padding: 6px 65px;
    text-decoration: none;
    text-shadow: 0px 1px 0px orange;
}

.myBtn:hover{
    background-color: lightgreen;
}

.myBtn:active{
    position: relative;
    top: 1px;
}

/* header */